<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Users</title>
</head>
<body>
<h1 align="center" style="font-family: 'Javanese Text',system-ui">Welcome to Users page</h1>
<style>table th, table td {
    padding: 4px;
    width: 4px;


}
</style>
<style>
    body {
        background: rgba(225, 248, 248, 0.55);
        color: rgba(25, 25, 28, 0.91);
        font-size: 40px;
    }
</style>
<h3 align="center">
    <input type="button" value="Add new user"
           onclick="window.location.href= 'addUser'"
           style="font-family: 'Segoe UI Symbol',system-ui; color:rgba(2,2,2,0.91); font-size: large; background-color: rgba(129,129,129,0.55)"/>

    <input type="button" value="Roles"
           onclick="window.location.href= 'roles'"
           style="font-family: 'Segoe UI Symbol',system-ui; color:rgba(2,2,2,0.91); font-size: large; background-color: rgba(129,129,129,0.55)"/>

    <form th:action="@{/logout}" method="POST" th:style="'mix-blend-mode: multiply'">
        <input type="submit" value="Logout"/>
    </form>
</h3>

<br>
<table border="1" cellpadding="5" align="center">
    <tr style="font-size: 30px; font-style: initial; font-family: 'Segoe UI Black',system-ui">
        <th> Id</th>
        <th> Surname</th>
        <th> Name</th>
        <th> Age</th>
        <th> Email</th>
        <th>Username</th>
        <th>Password</th>
        <th>Roles</th>
        <th>Enabled</th>
        <th>Operations</th>
    </tr>
    <tr align="center" th:each="user : ${users}">

        <td>
            <a th:href="@{/admin/user/{id}(id=${user.getId()})}"><b th:utext="${user.getId()}"></b></a>
        </td>
        <td th:utext="${user.getFirstName()}"></td>
        <td th:utext="${user.getLastName()}"></td>
        <td th:utext="${user.getAge()}"></td>
        <td th:utext="${user.getEmail()}"></td>
        <td th:utext="${user.getUsername()}"></td>
        <td th:utext="${user.getPassword()}"></td>
        <td th:utext="${user.getRoles()}"></td>
        <td th:utext="${user.isEnabled()}"></td>
        <td align="center">
            <a th:href="@{/admin/updateUser/{id}(id=${user.getId()})}" style="color: black">Update</a>
            <b>|</b>
            <a th:href="@{/admin/deleteUser/{id}(id=${user.getId()})}" style="color: black">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>